@keyframes showSelectable {
  0%  { background-color: rgba(255, 234, 6, 0.308); } 
  100%  { background-color: white }           
}
*{
  -webkit-print-color-adjust: exact;
}

.templateShield {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
}
.templateShield:hover {
  background-color: rgba(198,5,5,0.48);
}
.moduleChapter{
  cursor: pointer;
}
.step_table{
  cursor: pointer;
}
.step_description{
  cursor: pointer;
}
.row{
  background-color: #e3e5f3;
}
.mv-table{
  background-color: none;
  transition: background-color .35s linear;
  padding-bottom: 30px;
  padding-top: 30px;
}
#theDocument{
  overflow-y: scroll;
  height: 100vh;
  position: relative;
  padding-bottom: 30px;
}
#pageShield{
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba(198,5,5,0.48);
    z-index: 10;
}
ul{
  cursor: text;
}
.editableList:hover{
  animation-name: showSelectable;
  animation-duration: .35s;
}
p{
  white-space: pr;
  cursor: text;
}
p:active{
  background-color: rgba(255, 234, 6, 0.308);
}
p:hover{
  animation-name: showSelectable;
  animation-duration: .35s;
}
.step_table:hover{
  animation-name: showSelectable;
  animation-duration: .35s;
}
.moduleChapterName:hover{
  background-color:white;
  animation-name: showSelectable;
  animation-duration: .35s;
}
.numberSteps:hover{
  background-color:white;
  animation-name: showSelectable;
  animation-duration: .35s;
}
.moduleChapter:hover{
  animation-name: showSelectable;
  animation-duration: .35s;
}
.action-row:hover{
  animation-play-state: running; 
  animation-name: showSelectable;
  animation-duration: .35s;
}
.action-row:active{
  animation-play-state: running; 
  animation-name: showSelectable;
  animation-duration: .35s;
}
.media:hover{
  animation-play-state: running; 
  animation-name: showSelectable;
  animation-duration: .35s;
}
.media:active{
  background-color: rgba(255, 234, 6, 0.308);
}
.completion_range:active{
  background-color: rgba(255, 234, 6, 0.308);
}
.completion_range:hover{
  animation-name: showSelectable;
  animation-duration: .35s;
}
.score_weight:hover{
  animation-name: showSelectable;
  animation-duration: .35s;
}
.step_description:hover{
  animation-name: showSelectable;
  animation-duration: .35s;
}


.subItem:hover{
  animation-name: showSelectable;
  animation-duration: .35s;
}
.show {
  opacity: 1;
  transition: opacity 500ms;
}
.hide {
  opacity: 0;
  transition: opacity 500ms;
}
#active_chapter{
  transition: background-color 500ms;
  background-color: white;
}
.activeElement{
  border-style: solid;
  border-radius: 4px;
  box-shadow:         inset 0px 0px 100px rgba(255, 241, 75, 1);

}
.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}
.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);  
}
.nested {
  display: none;
}

.nested li{
  position: relative;
  padding: 3px;
}
.active {
  display: block;
}
.btn:active {
  background-color: rgba(123, 128, 194, 0.959);
}
.test ul {
  text-align: right;
  list-style: none;
  padding: 0;
  margin: 0;
}
.toolbar :hover{
  border-style: none;
  box-shadow: none;
}
.tab{
  background-color: #1d4e9a;
}
.tabButton {
  display: inline;
  cursor: pointer;
  color: white;
  padding-left: 10px;
  margin: 0;
}
.tabButton:active {
  background-color: #6ca0ee;
  color: white;
}
.activeTab{
  background-color: white;
  color: black;
  border-style: solid;
  border-color: white;

}
.test ul li {
  display: inline;
}
.dragbar {
  padding: 6px;
  cursor: col-resize;
  background-color: black;
}
#drag-left {
  width: 20%;
}
#drag-right {
  -webkit-box-flex: 1;
  flex: 1;
  width: 80%;
}
.toolbar{
  height: 100vh;
  border-radius: 20px;
  box-shadow: 10px 0px;
  display: flex;
  flex-direction: column;
}
.btn{
  position: relative;
}
/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  right: 0;
  top: 55px;
  z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
.btn:hover .tooltiptext {
  visibility: visible;
}
#components li{
  position: relative;
}
.moduleChapter {
  border-style: solid;
  border-width: thin;
}

.component:hover{
  animation-name: showSelectable;
  animation-duration: .35s;
}
.location_personnel:hover{
  animation-name: showSelectable;
  animation-duration: .35s;
}


.mv_container{
  padding-bottom: 30px;
  padding-top: 30px; 
  background-color: white;
}

.taskOrder_stepNumber{
  font-size: xx-large; 
  background-color: #f5deb300; 
  color: white; 
  border: none;
}
.taskOrder{
  font-size: x-large; 
  color: white; 
}

.stepDescriptionContainer{
  color: rgb(0,0,0);
}

