body {
  background-color: #573939;
}

.row:nth-child(even) .squar:nth-child(even),
.row:nth-child(odd) .squar:nth-child(odd) {
  display: inline-block;
  background-color: whitesmoke;
  width: 50px;
  height: 50px;
}

.row:nth-child(odd) .squar:nth-child(even),
.row:nth-child(even) .squar:nth-child(odd) {
  display: inline-block;
  background-color: black;
  width: 50px;
  height: 50px;
}

.board {
  position: relative;
}
.pawn {
  background-color: green;
  position: absolute;
  width: 50px;
  height: 50px;
}
